<div *ngIf="boardSize">
  <div class="row">
    <div class="col-12">
      <div class="bar-button-group">
        <div *ngFor="let number of this.boardSize | repeat" (click)="onDigitButtonClicked($event, false)" class="box-container rounded-button"
          [class.clickable]="isEnabled" [class.non-clickable]="!isEnabled" [class.inactive]="!isEnabled" [class.green]="isEnabled"
          [ngClass]="'round-button-' + boardSize">
          <div class="container-content">
            <div class="container-content-table">
              <div class="container-content-table-cell auto-resize-text">
                {{number + 1}}
              </div>
            </div>
          </div>
        </div>
        <div (click)="onClearClicked()" class="box-container rounded-button" [class.clickable]="isEnabled"
          [class.non-clickable]="!isEnabled" [class.inactive]="!isEnabled" [class.gray]="isEnabled" [ngClass]="'round-button-' + boardSize">
          <div class="container-content">
            <div class="container-content-table">
              <div class="container-content-table-cell auto-resize-text">
                &times;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="bar-button-group mt-1">
        <div *ngFor="let number of this.boardSize | repeat" (click)="onDigitButtonClicked($event, true)" class="box-container rounded-button"
          [class.clickable]="isEnabled" [class.non-clickable]="!isEnabled" [class.inactive]="!isEnabled" [class.blue]="isEnabled"
          [ngClass]="'round-button-' + boardSize">
          <div class="container-content">
            <div class="container-content-table">
              <div class="container-content-table-cell auto-resize-text">
                {{number + 1}}
              </div>
            </div>
          </div>
        </div>
        <div (click)="onHintCellClicked()" class="box-container rounded-button" [class.clickable]="isEnabled"
          [class.non-clickable]="!isEnabled" [class.inactive]="!isEnabled" [class.blue]="isEnabled" [ngClass]="'round-button-' + boardSize">
          <div class="container-content">
            <div class="container-content-table">
              <div class="container-content-table-cell auto-resize-text">
                ?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div #rectangleButtonGroup class="bar-button-group mt-3">
    <button type="button" class="btn btn-secondary" [disabled]="!isEnabled || !canUndo" (click)="onUndoClicked()">Undo</button>
    <button type="button" class="btn btn-secondary" [disabled]="!isEnabled" (click)="onPromoteClicked()">Promote</button>
    <button type="button" class="btn btn-secondary" [disabled]="!isEnabled" (click)="onHintBoardClicked()">Hint</button>
  </div>
</div>
