<div *ngIf="puzzle === undefined">
  <div *ngIf="!hasRetrieveError" class="alert alert-primary">
    Loading puzzle...
  </div>
  <div *ngIf="hasRetrieveError" class="alert alert-danger">
    Failed to load puzzle.
  </div>
</div>
<app-change-puzzle (puzzleChanged)="onPuzzleSelectionChanged($event)"></app-change-puzzle>
<app-board [startBoard]="puzzle?.startBoard" [size]="puzzle?.info?.boardSize" [playState]="playState" (contentChanged)="onBoardContentChanged($event)"></app-board>

<div class="clearfix"></div>
<p></p>

<app-button-bar [boardSize]="puzzle?.info?.boardSize" [isEnabled]="canAcceptInput" [areKeysEnabled]="areShortcutKeysEnabled"
  (digitClicked)="onDigitClicked($event)" (clearClicked)="onClearClicked()" (hintClicked)="onHintClicked()"></app-button-bar>

<p></p>
<div *ngIf="puzzle !== undefined">
  <button type="button" class="btn btn-secondary" [disabled]="!canUndo" (click)="undo()">Undo</button>
  <button type="button" class="btn btn-secondary ml-2" [disabled]="!canAcceptInput && playState !== GameCompletionStateAlias.Won"
    (click)="restart(true)">Restart</button>
  <button type="button" class="btn btn-secondary ml-2" [disabled]="!canAcceptInput && playState !== GameCompletionStateAlias.Won"
    data-toggle="modal" data-target="#changePuzzleModal" (click)="showChangePuzzleModal()">Change puzzle</button>
</div>
<app-debug-console [isVisible]="inDebugMode && puzzle !== undefined" [isEnabled]="canAcceptInput || playState === GameCompletionStateAlias.Won"
  [notifyOnWrongMoves]="settings.notifyOnWrongMoves" [autoCleanDraftValues]="settings.autoCleanDraftValues"
  (loadClicked)="loadGame($event)" (helpClicked)="calculateDraftValues()" (promoteClicked)="promoteDraftValues()"
  (isTypingTextChanged)="debugIsTypingTextChanged($event)" (settingsChanged)="changeSettings($event)"></app-debug-console>
