<app-menu-bar [restartEnabled]="puzzle !== undefined && canAcceptInput" (restartClicked)="onRestartClicked()"
  [newGameEnabled]="canAcceptInput || hasRetrieveError" (newGameClicked)="onNewGameClicked()" [changePuzzleEnabled]="canAcceptInput || hasRetrieveError"
  (changePuzzleClicked)="onChangePuzzleClicked()" [settingsEnabled]="canAcceptInput || hasRetrieveError"
  (settingsClicked)="onSettingsClicked()" (isOpenChanged)="onMenuBarIsOpenChanged($event)"></app-menu-bar>

<div class="container game-container">
  <app-change-puzzle (puzzleChanged)="onPuzzleChanged($event)"></app-change-puzzle>
  <app-settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
  <app-win-modal (newGameClicked)="onNewGameClicked()" (restartClicked)="onRestartClicked()" (changePuzzleClicked)="onChangePuzzleClicked()"></app-win-modal>
  <app-about-modal></app-about-modal>

  <div *ngIf="puzzle === undefined">
    <div *ngIf="!hasRetrieveError" class="alert alert-primary">
      Loading puzzle...
    </div>
    <div *ngIf="hasRetrieveError" class="alert alert-danger">
      Failed to load puzzle.
    </div>
  </div>

  <app-board [startBoard]="puzzle?.startBoard" [size]="puzzle?.info?.boardSize" [playState]="playState" [showRuler]="settings.showHintExplanations"
    (contentChanged)="onBoardContentChanged($event)"></app-board>

  <div class="clearfix mt-4"></div>

  <app-button-bar [boardSize]="puzzle?.info?.boardSize" [isEnabled]="canAcceptInput && playState !== GameCompletionStateAlias.Won"
    [canUndo]="canUndo" [areKeysEnabled]="areShortcutKeysEnabled" (digitClicked)="onDigitClicked($event)"
    (clearClicked)="onClearClicked()" (hintCellClicked)="onHintCellClicked()" (undoClicked)="onUndoClicked()"
    (promoteClicked)="onPromoteClicked()" (hintBoardClicked)="onHintBoardClicked()"></app-button-bar>

  <app-hint-explanation-box [isEnabled]="puzzle !== undefined && settings.showHintExplanations"></app-hint-explanation-box>

  <app-debug-console [isVisible]="inDebugMode && puzzle !== undefined" [isEnabled]="canAcceptInput" (loadClicked)="onLoadClicked($event)"
    (dumpBoardClicked)="onDumpBoardClicked()" (isTypingTextChanged)="onDebugIsTypingTextChanged($event)"></app-debug-console>
</div>
