<app-menu-bar [restartEnabled]="puzzle !== undefined && canAcceptInput" (restartClicked)="restart(true)"
  [newGameEnabled]="canAcceptInput || hasRetrieveError" (newGameClicked)="startRandomGame()" [changePuzzleEnabled]="canAcceptInput || hasRetrieveError"
  (changePuzzleClicked)="showChangePuzzleModal()" [settingsEnabled]="canAcceptInput || hasRetrieveError"
  (settingsClicked)="showSettings()" (isOpenChanged)="menuBarOpenChanged($event)"></app-menu-bar>

<div class="container game-container">
  <app-change-puzzle (puzzleChanged)="onPuzzleSelectionChanged($event)"></app-change-puzzle>
  <app-settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
  <app-win-modal (newGameClicked)="startRandomGame()" (restartClicked)="restart(true)" (changePuzzleClicked)="showChangePuzzleModal()"></app-win-modal>

  <div *ngIf="puzzle === undefined">
    <div *ngIf="!hasRetrieveError" class="alert alert-primary">
      Loading puzzle...
    </div>
    <div *ngIf="hasRetrieveError" class="alert alert-danger">
      Failed to load puzzle.
    </div>
  </div>

  <app-board [startBoard]="puzzle?.startBoard" [size]="puzzle?.info?.boardSize" [playState]="playState"
    (contentChanged)="onBoardContentChanged($event)"></app-board>

  <div class="clearfix"></div>
  <p></p>

  <app-button-bar [boardSize]="puzzle?.info?.boardSize" [isEnabled]="canAcceptInput && playState !== GameCompletionStateAlias.Won"
    [areKeysEnabled]="areShortcutKeysEnabled" (digitClicked)="onDigitClicked($event)" (clearClicked)="onClearClicked()"
    (hintClicked)="onHintCellClicked()"></app-button-bar>

  <p></p>
  <div *ngIf="puzzle !== undefined">
    <button type="button" class="btn btn-secondary mr-2 mb-2" [disabled]="!canUndo" (click)="undo()">Undo</button>
    <button type="button" class="btn btn-secondary mr-2 mb-2" [disabled]="!canAcceptInput || playState === GameCompletionStateAlias.Won"
      (click)="promoteCandidates()">Promote</button>
    <button type="button" class="btn btn-secondary mr-2 mb-2" [disabled]="!canAcceptInput || playState === GameCompletionStateAlias.Won"
      (click)="onHintBoardClicked()">Hint</button>
  </div>

  <app-debug-console [isVisible]="inDebugMode && puzzle !== undefined" [isEnabled]="canAcceptInput" (loadClicked)="loadGame($event)"
    (isTypingTextChanged)="debugIsTypingTextChanged($event)"></app-debug-console>
</div>
