@mixin board-sizing-list {
    @for $boardSize from 4 to 10 {

        $cell-width-n: percentage(4 / (5 * $boardSize - 1));
        $spacer-width-n: percentage(1 / (5 * $boardSize - 1));

        .square-#{$boardSize} { 
            width: $cell-width-n;
            padding-bottom: $cell-width-n;
        }

        .vertical-bar-#{$boardSize} {
            width: $spacer-width-n;
            padding-bottom: $cell-width-n;
        }

        .horizontal-bar-#{$boardSize} {
            width: $cell-width-n;
            padding-bottom: $spacer-width-n;
        }

        .divider-#{$boardSize} {
            width: $spacer-width-n;
            padding-bottom: $spacer-width-n;
        }
    }
}

@include board-sizing-list;
