<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled"  (click)="onButtonClicked($event)">1</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onButtonClicked($event)">2</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onButtonClicked($event)">3</button>
  </div>
  <div class="btn-group mr-4" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onButtonClicked($event)">4</button>
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onButtonClicked($event)">X</button>
  </div>
</div>
