<ng-container *ngIf="startBoard">
    <div *ngFor="let rowIndex of size | repeat">
        <ng-container *ngFor="let columnIndex of size | repeat">
            <app-digit-cell [boardSize]="size" [canSelect]="canSelect" [playState]="playState" (cellClicked)="onCellClicked($event)"
                (contentChanged)="onCellContentChanged($event)" [fixedValue]="getFixedValueAt(rowIndex, columnIndex)"></app-digit-cell>
            <ng-container *ngIf="columnIndex < size - 1">
                <app-operator-cell [boardSize]="size" [value]="getOperatorAtRight(rowIndex, columnIndex)"></app-operator-cell>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="rowIndex < size - 1">
            <ng-container *ngFor="let columnIndex of size | repeat">
                <app-operator-cell [boardSize]="size" [isRotated]="true" [value]="getOperatorBelow(rowIndex, columnIndex)"></app-operator-cell>
                <ng-container *ngIf="columnIndex < size - 1">
                    <app-spacer-cell [boardSize]="size"></app-spacer-cell>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
