<app-board [puzzleLines]="puzzleLines" [boardSize]="boardSize"></app-board>

<br style="clear: both;" />
<p></p>

<app-button-bar [boardSize]="boardSize" [isEnabled]="!isGameSolved" (digitClicked)="onDigitClicked($event)"></app-button-bar>

<p></p>
<div class="alert alert-success" role="alert" *ngIf="isGameSolved">
  Solved!
</div>
<div class="alert alert-danger" role="alert" *ngIf="isBoardCompleted && !isGameSolved">
  Wrong!
</div>

<button type="button" class="btn btn-secondary" (click)="restart()">Restart</button>
