<div *ngIf="puzzle === undefined">
  <div *ngIf="!hasError" class="alert alert-primary">
    Loading puzzle...
  </div>
  <div *ngIf="hasError" class="alert alert-danger">
    Failed to load puzzle.
  </div>
</div>
<div *ngIf="puzzle !== undefined">
  <app-change-puzzle [puzzleInfo]="puzzle.info" (puzzleChanged)="onPuzzleChanged($event)"></app-change-puzzle>
  <app-board [puzzleLines]="puzzle.puzzleLines" [boardSize]="boardSize"></app-board>

  <div class="clearfix"></div>
  <p></p>

  <app-button-bar [boardSize]="boardSize" [isEnabled]="!isGameSolved" (clearClicked)="onClearClicked()" (digitClicked)="onDigitClicked($event)"></app-button-bar>

  <p></p>
  <div class="alert alert-success" role="alert" *ngIf="isGameSolved">
    Solved!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isBoardCompleted && !isGameSolved">
    Wrong!
  </div>

  <button type="button" class="btn btn-secondary" (click)="restart()">Restart</button>
  <button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#changePuzzleModal">Change puzzle</button>
</div>
