<div *ngIf="puzzle === undefined">
  <div *ngIf="!hasError" class="alert alert-primary">
    Loading puzzle...
  </div>
  <div *ngIf="hasError" class="alert alert-danger">
    Failed to load puzzle.
  </div>
</div>
<app-change-puzzle (puzzleChanged)="onPuzzleSelectionChanged($event)"></app-change-puzzle>
<app-board [puzzleLines]="puzzle?.puzzleLines" [boardSize]="puzzle?.info?.boardSize" (contentChanged)="onBoardContentChanged()"></app-board>

<div class="clearfix"></div>
<p></p>

<app-button-bar [boardSize]="puzzle?.info?.boardSize" [isEnabled]="!isGameSolved" [areKeysEnabled]="!changePuzzleComponent.isModalVisible && !isTypingText"
  (digitClicked)="onDigitClicked($event)" (clearClicked)="onClearClicked()" (hintClicked)="onHintClicked()"></app-button-bar>

<p></p>
<div class="alert alert-success" role="alert" *ngIf="isGameSolved">
  Solved!
</div>
<div class="alert alert-danger" role="alert" *ngIf="isBoardCompleted && !isGameSolved">
  Wrong!
</div>

<div *ngIf="puzzle !== undefined">
  <button type="button" class="btn btn-secondary" [disabled]="undoStack.length === 0 || isGameSolved" (click)="undo()">Undo</button>
  <button type="button" class="btn btn-secondary ml-2" (click)="restart()">Restart</button>
  <button type="button" class="btn btn-secondary ml-2" data-toggle="modal" data-target="#changePuzzleModal" (click)="showChangePuzzleModal()">
    Change puzzle
  </button>
</div>
<app-debug-console [isEnabled]="inDebugMode && puzzle !== undefined" (loadClicked)="loadGame($event)" (helpClicked)="calculateDraftValues()"
  (promoteClicked)="promoteDraftValues()" (isTypingTextChanged)="debugIsTypingTextChanged($event)"></app-debug-console>
