<div class="btn-toolbar" role="toolbar">
  <div *ngFor="let number of _numberSequenceService.createNumberSequence(this.boardSize)" class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onDigitButtonClicked($event)">{{number}}</button>
  </div>
  <div class="btn-group mr-2" role="group">
  </div>
  <div class="btn-group mr-2" role="group">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="!isEnabled" (click)="onClearButtonClicked($event)">&times;</button>
  </div>
  <ngx-toggle #draftToggle value="true" onText="Number" offText="Draft" onColor="success" offColor="primary" size="lg"></ngx-toggle>
</div>
