<div class="rounded-button-group">
  <div *ngFor="let number of _numberSequenceService.createNumberSequence(this.boardSize)" (click)="onDigitButtonClicked($event)"
    class="box-container rounded-button" [class.clickable]="isEnabled" [class.gray]="!isEnabled" [class.blue]="isEnabled && isInDraftMode"
    [class.green]="isEnabled && !isInDraftMode" [ngClass]="'button-' + boardSize">
    <div class="container-content">
      <div class="container-content-table">
        <div #autoSizeText class="container-content-table-cell">
          {{number}}
        </div>
      </div>
    </div>
  </div>
  <div (click)="onClearButtonClicked()" class="box-container rounded-button" [class.clickable]="isEnabled"
    [class.gray]="!isEnabled" [class.blue]="isEnabled && isInDraftMode" [class.green]="isEnabled && !isInDraftMode"
    [ngClass]="'button-' + boardSize">
    <div class="container-content">
      <div class="container-content-table">
        <div #autoSizeText class="container-content-table-cell">
          &times;
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group ml-2 mt-2" role="group">
    <ngx-toggle #draftToggle value="true" [disabled]="!isEnabled" onText="Number" offText="Draft" onColor="success"
      offColor="primary" size="lg"></ngx-toggle>
  </div>
</div>
