<div *ngIf="info" class="modal fade" id="changePuzzleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form #puzzleChangeForm="ngForm" autocomplete="off" novalidate>
        <div class="modal-header">
          <h5 class="modal-title">Change puzzle</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-3 pt-0">Difficulty</legend>
              <div class="col-sm-9">
                <div *ngFor="let difficulty of PuzzleDifficultyAlias | enumNamesToArray" class="form-check-inline">
                  <input class="form-check-input" type="radio" name="difficultyGroup" [id]="'difficulty' + difficulty"
                    [value]="PuzzleDifficultyAlias[difficulty]" [(ngModel)]="info.difficulty">
                  <label class="form-check-label" [for]="'difficulty' + difficulty">
                    {{difficulty}}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-3 pt-0">Size</legend>
              <div class="col-sm-9">
                <div *ngFor="let size of [4,5,6,7,8,9]" class="form-check-inline">
                  <input class="form-check-input" type="radio" name="sizeGroup" [id]="'size' + size" [value]="size"
                    [(ngModel)]="info.boardSize">
                  <label class="form-check-label" [for]="'size' + size">
                    {{size}}x{{size}}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label for="puzzleId" class="col-sm-3 col-form-label" style="white-space: nowrap;">Puzzle <wbr>(1-{{maxPuzzleId}})</label>
            <div class="col-sm-8">
              <input type="number" required [(ngModel)]="info.id" #puzzleId="ngModel" name="puzzleId" class="form-control"
                min="1" max="{{maxPuzzleId}}" step="1" pattern="^$|^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|[1-9][0-9][0-9][0-9])$">
              <div *ngIf="puzzleId.errors && (puzzleId.dirty || puzzleId.touched)">
                <div class="validation-error-message" [hidden]="puzzleId.valid || puzzleId.pristine">
                  Puzzle number is required
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onPreviousButtonClicked($event)" [disabled]="!puzzleChangeForm.form.valid || info.id <= 1">&lt;</button>
          <button type="button" class="btn btn-secondary mr-auto" (click)="onNextButtonClicked($event)" [disabled]="!puzzleChangeForm.form.valid || info.id >= maxPuzzleId">&gt;</button>
          <div class="loader" [hidden]='!isLoaderVisible'></div>
          <button type="submit" class="btn btn-primary" (click)="onApplyButtonClicked($event)" [disabled]="!puzzleChangeForm.form.valid"
            data-dismiss="modal">Ok</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-secondary" (click)="onApplyButtonClicked($event)" [disabled]="!puzzleChangeForm.form.valid">Apply</button>
        </div>
      </form>
    </div>
  </div>
</div>
