<div class="box-container non-clickable" [ngClass]="(isRotated ? 'horizontal-bar-' : 'vertical-bar-') + boardSize">
  <div #flashable *ngIf="value !== ComparisonOperatorAlias.None" class="container-content">
    <div class="container-content-table">
      <div class="container-content-table-cell" [class.rotated-right]="isRotated" [class.auto-resize-large-text]="isRotated"
        [class.auto-resize-small-text]="!isRotated">
        <span *ngIf="value === ComparisonOperatorAlias.GreaterThan">&gt;</span>
        <span *ngIf="value === ComparisonOperatorAlias.LessThan">&lt;</span>
      </div>
    </div>
  </div>
</div>
