<div class="box-container non-clickable" [ngClass]="(isRotated ? 'horizontal-bar-' : 'vertical-bar-') + boardSize">
  <div class="container-content">
    <div class="container-content-table">
      <div #autoSizeText class="container-content-table-cell" [class.rotated-right]="isRotated">
        <span *ngIf="operatorValue === ComparisonOperatorAlias.GreaterThan">&gt;</span>
        <span *ngIf="operatorValue === ComparisonOperatorAlias.LessThan">&lt;</span>
      </div>
    </div>
  </div>
</div>
