<div class="box-container" [class.box-border]="errorDigit === undefined" [class.box-error-border]="errorDigit !== undefined"
  [class.clickable]="!isFixed && canSelect" [class.non-clickable]="isFixed || !canSelect" [class.square-selected]="isSelected"
  [class.square-won]="playState === GameCompletionStateAlias.Won" [class.square-lost]="!isSelected && playState === GameCompletionStateAlias.Lost"
  [ngClass]="'square-' + boardSize" (click)="onBoxClicked()">
  <div #flashable *ngIf="!isEmpty" class="container-content fast">
    <div class="container-content-table">
      <div *ngIf="value !== undefined" class="container-content-table-cell auto-resize-text">
        <span *ngIf="isFixed">{{value}}</span>
        <span *ngIf="!isFixed" [class.text-success]="errorDigit === undefined" [class.text-danger]="errorDigit !== undefined">{{value}}</span>
      </div>
      <div *ngIf="hasCandidates">
        <div *ngFor="let number of 9 | repeat" class="box-container candidate-cell-block">
          <div class="container-content">
            <div class="container-content-table">
              <div class="container-content-table-cell auto-resize-text">
                <div [class.text-primary]="errorDigit !== number + 1" [class.text-danger]="errorDigit === number + 1">
                  <div *ngIf="containsCandidate(number + 1)">{{number + 1}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
