<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)" [fixedValue]="2"></app-digit-cell>

<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true" [isGreaterThan]="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>

<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4" [isGreaterThan]="false"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4" [isGreaterThan]="false"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>

<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>

<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>

<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true" [isGreaterThan]="true"></app-operator-cell>
<app-spacer-cell [boardSize]="4"></app-spacer-cell>
<app-operator-cell [boardSize]="4" isRotated="true"></app-operator-cell>

<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
<app-operator-cell [boardSize]="4"></app-operator-cell>
<app-digit-cell [boardSize]="4" (cellClicked)="onCellClicked($event)"></app-digit-cell>
