<table class="table-bordered">
  <tbody>
    <tr>
      <app-cell (cellClicked)="onCellClicked($event)" [fixedValue]="1"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
    </tr>
    <tr>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)" [fixedValue]="4"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
    </tr>
    <tr>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
    </tr>
    <tr>
      <app-cell (cellClicked)="onCellClicked($event)" [fixedValue]="2"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)" [fixedValue]="1"></app-cell>
      <app-cell (cellClicked)="onCellClicked($event)"></app-cell>
    </tr>
  </tbody>
</table>
