<div *ngFor="let puzzleLine of puzzleLines">
    <div *ngIf="lineStartsWithDotOrDigit(puzzleLine)">
        <span *ngFor="let token of puzzleLine.split(''); let idx = index">
            <span *ngIf="isDigitToken(token)">
                <app-digit-cell [boardSize]="boardSize" (cellClicked)="onCellClicked($event)" [fixedValue]="+token"></app-digit-cell>
            </span>
            <span *ngIf="isDotToken(token)">
                <app-digit-cell [boardSize]="boardSize" (cellClicked)="onCellClicked($event)"></app-digit-cell>
            </span>
            <span *ngIf="isOperatorToken(token)">
                <app-operator-cell [boardSize]="boardSize" [isGreaterThan]="isGreaterThanToken(token)"></app-operator-cell>
            </span>
            <span *ngIf="isUnderscoreToken(token)">
                <app-operator-cell [boardSize]="boardSize"></app-operator-cell>
            </span>
        </span>
    </div>
    <div *ngIf="lineStartsWithUnderscoreOrOperator(puzzleLine)">
        <span *ngFor="let token of puzzleLine.split(''); let idx = index">
            <span *ngIf="isOperatorToken(token)">
                <app-operator-cell [boardSize]="boardSize" isRotated="true" [isGreaterThan]="isGreaterThanToken(token)"></app-operator-cell>
            </span>
            <span *ngIf="!isOperatorToken(token) && isEvenNumber(idx)">
                <app-operator-cell [boardSize]="boardSize" isRotated="true"></app-operator-cell>
            </span>
            <span *ngIf="!isOperatorToken(token) && !isEvenNumber(idx)">
                <app-spacer-cell [boardSize]="boardSize"></app-spacer-cell>
            </span>
        </span>
    </div>
</div>
