<div class="box-container box-border" [class.clickable]="!isFixed && canSelect" [class.square-selected]="isSelected"
  [ngClass]="'square-' + boardSize" (click)="onBoxClicked()">
  <div class="container-content">
    <div class="container-content-table">
      <div *ngIf="!isDraft" #autoSizeText class="container-content-table-cell">
        <span *ngIf="isFixed">{{value}}</span>
        <span *ngIf="!isFixed && value !== undefined" class="text-success">{{value}}</span>
      </div>
      <div *ngIf="isDraft">
        <div *ngFor="let number of createNumberSequence(9)" class="box-container draft-cell-block">
          <div class="container-content">
            <div class="container-content-table">
              <div #autoSizeText class="container-content-table-cell">
                <div class="text-primary">
                  <div *ngIf="_draftValues.indexOf(number) >= 0">{{number}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
