<div class="digit-container" [class.square-selected]="isSelected" (click)="onTableCellClicked()" [class.square-4]="boardSize === 4"
  [class.square-8]="boardSize === 8">
  <div class="container-content">
    <div class="container-content-table">
      <div class="container-content-table-cell cell-content-digit" [class.digit-4]="boardSize === 4" [class.digit-8]="boardSize === 8">
        <span *ngIf="isFixed">{{value}}</span>
        <span *ngIf="!isFixed && !isEmpty" class="cell-content-user-digit">{{value}}</span>
      </div>
    </div>
  </div>
</div>

<!-- background color styles: table-danger, table-success -->
