<nav class="navbar fixed-top navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Futoshiki</span>

  <ng-container *ngIf="trackerImageUrl">
    <img [src]="trackerImageUrl" alt="" class="d-none" />
  </ng-container>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [class.disabled]="!restartEnabled" (click)="onMenuItemClicked(restartClicked, restartEnabled)">
          Restart
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.disabled]="!newGameEnabled" (click)="onMenuItemClicked(newGameClicked, newGameEnabled)">
          New game
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.disabled]="!changePuzzleEnabled" data-target="#changePuzzleModal"
          data-toggle="modal" (click)="onMenuItemClicked(changePuzzleClicked, changePuzzleEnabled)">
          Change puzzle
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.disabled]="!settingsEnabled" data-target="#settingsModal" data-toggle="modal"
          (click)="onMenuItemClicked(settingsClicked, settingsEnabled)">
          Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="game-rules.html" target="_blank">
          Game rules
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-target="#aboutModal" data-toggle="modal" (click)="onMenuItemClicked(undefined, true)">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
