.game-container {
    width: calc(100vw - 40px) !important;
    max-width: calc((100vh - 120px) * .9) !important;
}

.box-container {
    float: left;
    position: relative;
    overflow: hidden;
}

.box-border {
    border: 2px #dee2e6 solid;
}

.box-pointer {
    cursor: pointer;
}

.draft-cell-block {
    width: 33%;
    padding-bottom: 33%;
}

.container-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-content-table {
    display: table;
    height: 100%;
    width: 100%;
}

.container-content-table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 0px;
}

.rotated-right {
    transform: rotate(90deg);
}

.square-selected {
    background-color: rgba(0, 0, 0, .075);
}

input.ng-invalid {
    border: 1px red solid;
}

.validation-error-message {
    /* copied from .invalid-feedback in Bootstrap */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 3px solid #ffc107;
    border-bottom: 3px solid #ffc107;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
