.digit-container {
    float: left;
    position: relative;
    overflow: hidden;
    border: 2px #dee2e6 solid;
}

.operator-container {
    float: left;
    position: relative;
    overflow: hidden;
}

.container-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-content-table {
    display: table;
    height: 100%;
    width: 100%;
}

.container-content-table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 0px;
}

.cell-content-digit {
    cursor: pointer;
}

.cell-content-user-digit {
    color: blue;
}

.rotated-right {
    transform: rotate(90deg);
}

.square-selected {
    background-color: rgba(0, 0, 0, .075);
}
