.game-container {
    width: calc(100vw - 40px) !important;
    max-width: calc((100vh - 60px) * .7) !important;
}

.box-container {
    float: left;
    position: relative;
    overflow: hidden;
}

.box-border {
    border: 2px #dee2e6 solid;
}

.box-error-border {
    border: 2px #dc3545 solid;
}

.draft-cell-block {
    width: 33%;
    padding-bottom: 33%;
}

.container-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container-content-table {
    display: table;
    height: 100%;
    width: 100%;
}

.container-content-table-cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 0px;
}

.rotated-right {
    transform: rotate(90deg);
}

.square-selected {
    background-color: rgba(0, 0, 0, .075);
}

.clickable:hover {
    opacity: .85;
    transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -webkit-transition: opacity 100ms ease-in-out;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    -webkit-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.non-clickable {
    cursor: default;
}

.rounded-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rounded-button {
    border-radius: 50%;
    margin: 0px;
    color: #fff;
    font-size: 130%;
    text-align: center;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.rounded-button.blue {
    background: #007bff;
    background-image: linear-gradient(to bottom, rgb(48, 125, 207) 0%, rgb(96, 173, 255) 100%);
    border: 1px solid #007bff;
}

.rounded-button.green {
    background: #28A745;
    background-image: linear-gradient(to bottom, rgb(25, 104, 43) 0%, rgb(121, 200, 139) 100%);
    border: 1px solid #28A745;
}

.rounded-button.gray {
    background: #6c757d;
    background-image: linear-gradient(to bottom, rgb(68, 73, 78) 0%, rgb(163, 169, 174) 100%);
    border: 1px solid #6c757d;
}

.rounded-button.inactive {
    background: #DADCDF;
    background-image: linear-gradient(to bottom, rgb(181, 186, 190) 0%, rgb(237, 238, 239) 100%);
    border: 1px solid #DADCDF;
}

.transparent {
    opacity: 0.85;
}

input.ng-invalid {
    border: 1px red solid;
}

.validation-error-message {
    /* copied from .invalid-feedback in Bootstrap */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 3px solid #ffc107;
    border-bottom: 3px solid #ffc107;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media print {
    .rounded-button {
        display: none;
    }
    .btn {
        display: none !important;
    }
}
