<ng-container *ngIf="isEnabled">
  <p></p>
  <div class="row">
    <div class="col-sm-10">
      <textarea [(ngModel)]="_gameStateText" rows="4" class="w-100" (focus)="textGotFocus()" (blur)="textLostFocus()"></textarea>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-secondary mb-2 mr-2" (click)="onLoadClicked()">Load</button>
      <button type="button" class="btn btn-secondary mb-2 mr-2" [disabled]="isGameSolved" (click)="onHelpClicked()">Help</button>
      <button type="button" class="btn btn-secondary mb-2 mr-2" [disabled]="isGameSolved" (click)="onPromoteClicked()">Promote</button>
    </div>
  </div>
</ng-container>
