<app-game></app-game>

<ng-container *ngIf="isTrackerEnabled">
    <!-- GoStats JavaScript Based Code -->
    <script type="text/javascript" src="https://ssl.gostats.com/js/counter.js"></script>
    <script type="text/javascript">_gos = 'monster.gostats.com'; _goa = 505081;
        _got = 5; _goi = 1; _gol = 'Get free statistics from GoStats'; _GoStatsRun();</script>
    <noscript><a target="_blank" title="Get free statistics from GoStats" href="http://gostats.com"><img alt="Get free statistics from GoStats"
                src="https://ssl.gostats.com/bin/count/a_505081/t_5/i_1/ssl_monster.gostats.com/counter.png" style="border-width:0" /></a></noscript>
    <!-- End GoStats JavaScript Based Code -->
</ng-container>
